env
workspace.code-workspace
src/simulator/memory/__pycache__/memory.cpython-39.pyc
src/simulator/memory/__pycache__/__init__.cpython-39.pyc
.gitignore
src/simulator/test_file.py
src/simulator/utils/__pycache__/__init__.cpython-39.pyc
.gitignore
src/simulator/instructions/__pycache__/instructions.cpython-39.pyc
src/simulator/__pycache__/Project1.cpython-39.pyc
src/simulator/__pycache__/GUI.cpython-39.pyc
src/simulator/__pycache__/GUI.cpython-39.pyc
src/simulator/utils/__pycache__/__init__.cpython-39.pyc